<div class="video" style="background-image: url('{{video.image}}')">
	<div class="container">
		<div class="video__link-wrapper">
			<a href="{{video.link.src}}" class="video__link">{{{video.link.image}}}</a>
		</div>
		<h2 class="video__title">{{{video.title}}}</h2>
		<p class="video__text">{{video.text}}</p>
	</div>
</div>