<a href="{{item.link}}" class="summarise__item">
	<div class="summarise__img-wrapper">
		<img src="{{item.image.src}}" alt="{{item.image.alt}}">
	</div>
	<h4 class="summarise__item_title">{{item.title}}</h4>
	<p class="summarise__item_text">{{item.text}}</p>
</a>